In [7]:
# * * * * * 
# *       * 
# *       * 
# *       * 
# * * * * *

n = 5

for i in range(n):
    for j in range(n):
        if i == 0 or i == (n - 1) or j == 0 or j == n-1:
            print("* ", end='')
        else:
            print('  ', end='')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [10]:
# *       * 
#   *   *   
#     *     
#   *   *   
# *       *

n = 5

for i in range(n):
    for j in range(n):
        if j == i or (i + j) == n - 1:
            print('* ', end='')
        else:
            print("  ", end='')
    print()

*       *
  *   *
    *
  *   *
*       *

In [14]:
n=7

for i in range(n):
    for j in range(n):
        if j==i or i+j==(n-1):
            print("* ", end="")
        else:
            print("  ", end="")
    print()

#Problem in Output pattern

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

In [15]:
#         *
#       * * *
#     * * * * *
#   * * * * * * *
# * * * * * * * * *

n = 5

for i in range(n):
#     Print Spaces
    for j in range(n - i - 1):
        print("  ", end='')
        
#     Print Stars
    for k in range(2*i + 1):
        print('* ', end='')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [17]:
# * * * * * * * * * 
#   * * * * * * * 
#     * * * * * 
#       * * * 
#         * 

n = 5

for i in range(n):
#     Print Spaces
    for j in range(i):
        print("  ", end='')
        
#     Print Stars
    for k in range(2*(n - i) - 1):
        print('* ', end='')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [27]:
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *

n = 5
# Upper triangle
for i in range(n):
    for j in range(i + 1):
        print('* ', end='')
    print()
    
# Lower triangle
for i in range(n - 1):
    for j in range(n - i - 1):
        print('* ', end='')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [29]:
# While Loops

In [35]:
a = 15
while (a < 20):
    print(a)
    a += 1

15
16
17
18
19

In [36]:
print(a)

20

In [40]:
def no_factors(number):
    factors = 0
    for i in range(1, number + 1):
        if number%i == 0:
            factors += 1
    return factors

In [44]:
num = int(input("Enter number"))
if (no_factors(num) == 2):
    print('Prime')
else:
    print("Not prime")

Enter number1
Not prime

In [54]:
num = int(input("Enter number"))

flag = False

for i in range(2, int(num/2) + 1):
    if (num % i == 0):
        flag = True
        break
        
if flag == True:
    print('Not a prime')
else:
    print('prime')

Enter number99
Not a prime

In [51]:
# Break
# Continue

In [59]:
for j in range(2):
    for i in range(100):
        print(i)
        if i == 2:
            break

0
1
2
0
1
2

In [58]:
for i in range(10):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6
7
8
9

In [62]:
a = 1
while (a < 10):
    print(a)
#     continue
    a+=1

1
2
3
4
5
6
7
8
9

In [87]:
integer1 = 256
integer2 = 256
integer3 = 257

In [88]:
print(id(integer1), id(integer2), id(integer3))

140721787647728 140721787647728 2234745314448

In [89]:
print(id(integer1)== id(integer2), id(integer3)== id(integer2), id(integer3)== id(integer1))

True False False

In [93]:
integer1 = '256'
integer2 = '256'
integer3 = '256'

In [94]:
print(id(integer1), id(integer2), id(integer3))

2234680742896 2234680742896 2234680742896

In [95]:
print(id(integer1) == id(integer2), id(integer3) == id(integer2), id(integer3) == id(integer1))

True True True

In [96]:
# In built Data-types/Structures in Python

# String
# Lists
# Tuple
# Dictionary
# Sets

In [97]:
name = 'Abhijeet'

In [105]:
print("Hello World!" + ' ' + name)

Hello World! Abhijeet

In [106]:
print(name*10)

AbhijeetAbhijeetAbhijeetAbhijeetAbhijeetAbhijeetAbhijeetAbhijeetAbhijeetAbhijeet

In [107]:
name = 'Abhijeet'
sirname = 'Bhattacharya'

In [109]:
print("Hello World! " + name + ' ' + sirname)

Hello World! Abhijeet Bhattacharya

In [111]:
print("Hello World!", name, 'hello', sirname)

Hello World! Abhijeet hello Bhattacharya

In [112]:
print("Hello World! {} hello {}".format(name, sirname))

Hello World! Abhijeet hello Bhattacharya

In [113]:
# F string
print(f"Hello World! {name} hello {sirname}")

Hello World! Abhijeet hello Bhattacharya

In [114]:
a = f"Hello World! {name} hello {sirname}"
print(a)

Hello World! Abhijeet hello Bhattacharya

In [117]:
for i in 'range(5)':
    print(i)

r
a
n
g
e
(
5
)

In [126]:
def lower_upper(string):
    for i in string:
        if ord(i) <= ord('z') and ord(i) >= ord('a'):
            print(chr(ord(i) - 32), end='')
        else:
            print(i, end='')

In [127]:
lower_upper('Hello my name is Abhijeet')

HELLO MY NAME IS ABHIJEET

In [130]:
print(ord('A'), ord('a'))

65 97

In [131]:
def upper_lower(string):
    for i in string:
        if ord(i) <= ord('Z') and ord(i) >= ord('A'):
            print(chr(ord(i) + 32), end='')
        else:
            print(i, end='')

In [132]:
upper_lower('HELLO MY NAME IS ABHIJEET')

hello my name is abhijeet

In [137]:
name.index('j')

4

In [143]:
ord('A')

65