In [1]:
name = 'Abhijeet'

In [2]:
for i in name:
    print(i)

A
b
h
i
j
e
e
t

In [3]:
var = 1234

In [9]:
name[-2]

'e'

In [13]:
if input('Enter Yes/No') == 'yes':
    print('Go ahead')
else:
    print('Wrong input')

Enter Yes/Noyes
Wrong input

In [26]:
inp = input('Enter something')
print(inp)
print(inp.strip('h'))

Enter somethinghellohhh
hellohhh
ello

In [28]:
if input('Enter Yes/No').strip() == 'yes':
    print('Go ahead')
else:
    print('Wrong input')

Enter Yes/No   y  es
Wrong input

In [29]:
while (True):
    if input('Enter Yes/No').strip() == 'yes':
        print('Go ahead')
        break
    else:
        print('Wrong input')

Enter Yes/Noh
Wrong input
Enter Yes/Nojsdgfn
Wrong input
Enter Yes/No  yes
Go ahead

In [37]:
name = 'Abhijeet Bhattacharya'

In [38]:
print(name.split(sep = 't'))

['Abhijee', ' Bha', '', 'acharya']

In [40]:
name.count('a')

4

In [41]:
name.replace('a', 'e')

'Abhijeet Bhettecherye'

In [42]:
# Lists

In [81]:
a = ['Abhijeet', 'Bhattacharya', 23, 90, 5.9, True, [1, 2, 3], range(10)]

In [82]:
a

['Abhijeet', 'Bhattacharya', 23, 90, 5.9, True, [1, 2, 3], range(0, 10)]

In [83]:
for i in a:
    print(i)

Abhijeet
Bhattacharya
23
90
5.9
True
[1, 2, 3]
range(0, 10)

In [86]:
a[-1]

range(0, 10)

In [85]:
inp = input('Enter')
ans = ''
for i in inp:
    if i != ' ':
        ans += i
print(ans)

Entercghhjkjvgk
cghhjkjvgk

In [87]:
a

['Abhijeet', 'Bhattacharya', 23, 90, 5.9, True, [1, 2, 3], range(0, 10)]

In [90]:
a.append(100)

In [91]:
a

['Abhijeet',
 'Bhattacharya',
 23,
 90,
 5.9,
 True,
 [1, 2, 3],
 range(0, 10),
 0,
 100]

In [99]:
def to_split(string):
    string = string.strip()
    temp_str = ''
    ans = []
    
    for i in string:
        if i == ' ':
            ans.append(temp_str)
            temp_str = ''
        else:
            temp_str += i
    ans.append(temp_str)
    return ans

In [104]:
print(to_split('Hello my name is Abhijeet'))

['Hello', 'my', 'name', 'is', 'Abhijeet']

In [105]:
def to_count(string):
    count = 0
    for i in string:
        if i == 'a':
            count += 1
    return count

In [106]:
to_count('Abhijeet Bhattacharya')

4

In [108]:
string = "my name is pradeep"
lst = []
temp = ""
for i in string:
    if i!=" ":
        temp+=i
    else:
        lst.append(temp)
        temp=""
lst.append(temp)
print(lst)

['my', 'name', 'is', 'pradeep']

In [109]:
def to_replace(string):
    ans = ''
    for i in string:
        if i == 'a':
            ans += 'e'
        else:
            ans += i
    return ans

In [110]:
print(to_replace('Abhijeet Bhattacharya'))

Abhijeet Bhettecherye

In [112]:
a

['Abhijeet',
 'Bhattacharya',
 23,
 90,
 5.9,
 True,
 [1, 2, 3],
 range(0, 10),
 0,
 100]

In [113]:
a.insert(2, 7)
print(a)

['Abhijeet', 'Bhattacharya', 7, 23, 90, 5.9, True, [1, 2, 3], range(0, 10), 0, 100]

In [114]:
var = a.pop()
print(a, var)

['Abhijeet', 'Bhattacharya', 7, 23, 90, 5.9, True, [1, 2, 3], range(0, 10), 0] 100

In [117]:
var = a.pop(2)
print(a, var)

['Abhijeet', 'Bhattacharya', 90, 5.9, True, [1, 2, 3], range(0, 10), 0] 23

In [118]:
a.remove(5.9)

In [119]:
a

['Abhijeet', 'Bhattacharya', 90, True, [1, 2, 3], range(0, 10), 0]

In [120]:
a.reverse()
print(a)

[0, range(0, 10), [1, 2, 3], True, 90, 'Bhattacharya', 'Abhijeet']

In [121]:
def to_reverse(input_list):
    ans = []
    for i in input_list:
        ans.insert(0, i)
    print(ans)

In [122]:
to_reverse(a)

['Abhijeet', 'Bhattacharya', 90, True, [1, 2, 3], range(0, 10), 0]

In [123]:
string = 'the lazy fox jumped over the brown dog.'

def occurances(string):
    unique_alphabets = []
    for i in string:
        if (i not in unique_alphabets):
            unique_alphabets.append(i)
            occur = string.count(i)
            print(f'Occurance of {i}: {occur}')

In [124]:
occurances(string)

Occurance of t: 2
Occurance of h: 2
Occurance of e: 4
Occurance of  : 7
Occurance of l: 1
Occurance of a: 1
Occurance of z: 1
Occurance of y: 1
Occurance of f: 1
Occurance of o: 4
Occurance of x: 1
Occurance of j: 1
Occurance of u: 1
Occurance of m: 1
Occurance of p: 1
Occurance of d: 2
Occurance of v: 1
Occurance of r: 2
Occurance of b: 1
Occurance of w: 1
Occurance of n: 1
Occurance of g: 1
Occurance of .: 1

In [143]:
a = [-2, 0, 1, 20, 22, 25, 45, 66, 100]

In [144]:
sorted(a, reverse = False)

[-2, 0, 1, 20, 22, 25, 45, 66, 100]

In [145]:
flag = 0
for i in a:
    if i == 66:
        flag = 1
if (flag):
    print('Got it')
else:
    print('Nahi mila')

Got it

In [146]:
len(a)

9

In [149]:
# a = [-2, 0, 1, 20, 22, 25, 45, 66, 100]

In [147]:
start = 0
end = len(a) - 1
mid = int((start + end)/2)

In [148]:
mid

4

In [150]:
while (start <= end):
    mid = int((start + end)/2)
    if (a[mid] < 45):
        start = mid + 1
    elif (a[mid] > 45):
        end = mid - 1
    elif (a[mid] == 45):
        print('mil gya', mid)
        break

mil gya 6