In [1]:
isinstance(print, object)

True

In [8]:
class Car:
    name = 'BMW'

In [22]:
a = Car()
b = Car()
# print(a + b)
print(isinstance(a.name, Car))

False

In [15]:
a = 40
b = 40
print(id(a), id(b))

140721061174256 140721061174256

In [24]:
isinstance(a, object)

True

In [19]:
c = a + b

In [20]:
print(c)

80

In [38]:
class Car:
    
    def __init__(self, name, drive, top_speed, color):
        self.name = name 
        self.drive = drive
        self.top_speed = top_speed
        self.color = color
    
    def __add__(self, other):
        print('Adding 2 objects')
        return self.top_speed + other.top_speed
    
    def __eq__(self, other):
        print('Comparing 2 objects')
        return self.name == other.name
    
    def __sub__(self, other):
        print('Subtracting 2 objects')
        return self.top_speed - other.top_speed
    
    def __str__(self):
        print('Returning the string of onject')
        return f'{self.top_speed}'

In [39]:
c1 = Car('Honda', 'A', 140, 'White')
c2 = Car('Audi', 'A', 240, 'White')
c3 = Car('Maruti', 'M', 120, 'Grey')

In [40]:
print(c1 + c2)

Adding 2 objects
380

In [32]:
print(c3 == c2)

Comparing 2 objects
False

In [33]:
print(str(c1))

Returning the string of object
140

In [34]:
print(c1 - c3)

Subtracting 2 objects
20

In [41]:
class School_Members:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f'Initialised School Member')
    
    def detail(self):
        print(f'School Members name: {self.name}, age: {self.age}')

In [44]:
class Teachers(School_Members):
    
    def __init__(self, name, age, sub):
        
        School_Members.__init__(self, name, age)
        self.subject = sub
        print(f'Initialised Teacher')
        
    def detail(self):
        
        School_Members.detail(self)
        print(f'Subject taught is: {self.subject}')

In [45]:
T = Teachers('abhijeet', 23, 'Data Science')

Initialised School Member
Initialised Teacher

In [46]:
T.detail()

School Members name: abhijeet, age: 23
Subject taught is: Data Science

In [47]:
T.age

23

In [49]:
class Teachers(School_Members):
    
    def __init__(self, name, age, sub):
        
        super().__init__(name, age)
        self.subject = sub
        print(f'Initialised Teacher')
        
    def detail(self):
        
        super().detail()
        print(f'Subject taught is: {self.subject}')

In [50]:
T = Teachers('abhijeet', 23, 'Data Science')

Initialised School Member
Initialised Teacher

In [51]:
T.detail()

School Members name: abhijeet, age: 23
Subject taught is: Data Science

In [52]:
T.age

23

In [53]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [54]:
range(2, 10, 2)

range(2, 10, 2)

In [57]:
print(1, 2)

1 2

In [58]:
a = 10
a = 20
a = 30
a = 40

In [59]:
print(a)

40

In [76]:
class Best_friend1:
    
    def detail(self):
        print('In class 1')
    
class Best_friend2(Best_friend1):
    
    def detail(self):
        print('In class 1')

class Best_friend3:
    
    def detail(self):
        print('In class 3')
        
class Me(Best_friend3, Best_friend1):
    print('In class 4')
#     def detail(self):
#         print('In class 4')

In class 4

In [77]:
bf = Me()
print(bf.detail())

In class 3
None