In [3]:
class Car:
    def __init__(self,windows,doors,enginetype):
        self.windows=windows
        self.doors=doors
        self.enginetype=enginetype

    def driving(self):
        print("Car is ued for driving")

##Audi car is inherting from Car class
class Audi(Car):
    def __init__(self,windows,doors,enginetype,horsepower):
        super().__init__(windows,doors,enginetype)
        self.horsepower=horsepower

    def selfdriving(self):
        print("IT is a self driving car")


class A4(Audi):
    def __init__(self, windows, doors, enginetype, horsepower, color , topspeed):
      super().__init__(windows,doors,enginetype,horsepower)
      self.color= color
      self.topspeed = topspeed

In [4]:
audiq7=Audi(4,5,"Diesel",200)

print(audiq7.horsepower)
print(audiq7.windows)
audiq7.driving()
audiq7.selfdriving()

car1=Car(4,5,"Diesel")
print(car1)
print(audiq7)

print(dir(audiq7))
print(dir(car1))

200
4
Car is ued for driving
IT is a self driving car
<__main__.Car object at 0x7bc350d220b0>
<__main__.Audi object at 0x7bc350d5f2b0>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'doors', 'driving', 'enginetype', 'horsepower', 'selfdriving', 'windows']
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'doors', 'driving', 'enginetype', 'windows']

In [5]:
A4car = A4(4 , 5 , "petrol", 300 , "Red" , 250)

In [6]:
print(dir(A4car))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'color', 'doors', 'driving', 'enginetype', 'horsepower', 'selfdriving', 'topspeed', 'windows']

In [7]:
class School_Members:

    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f"Initialised School Member: {self.name}")

    def tell(self):
        print(f"Name: {self.name}, Age: {self.age}")


class Teachers(School_Members):

    def __init__(self, teacher_name, teacher_age, teacher_salary):
        School_Members.__init__(self, teacher_name, teacher_age)
        self.salary = teacher_salary
        print(f"Initialised Teacher: {self.name}")

    def tell(self):
        School_Members.tell(self)
        print(f"Salary: {self.salary}")

class Students(School_Members):

    def __init__(self, student_name, student_age, student_marks):
        School_Members.__init__(self, student_name, student_age)
        self.marks = student_marks
        print(f"Initialised Student: {self.name}")

    def tell(self):
        School_Members.tell(self)
        print(f"Marks: {self.marks}")

In [8]:
t = Teachers('Abhijeet', 22, 1000)
s = Students('Aamir', 19, 75)

Initialised School Member: Abhijeet
Initialised Teacher: Abhijeet
Initialised School Member: Aamir
Initialised Student: Aamir

In [9]:
t.tell()
s.tell()

Name: Abhijeet, Age: 22
Salary: 1000
Name: Aamir, Age: 19
Marks: 75